App Component
<!-- <app-hello>
</app-hello>
<p>
  <app-hi></app-hi>
</p> -->
<p>Name: {{ name}}</p>
<p>Age : {{ user.age}}</p>

<input [type]="inputType" [value]="user.age" /> // Documents Object Modal DOM

<button type="button" (click)="handleClickMe($event)">Click Me</button>

<input type="text" [ngModel]="name" (ngModelChange)="name = $event" />

<ng-template [ngIf]="user.age >= 18" [ngIfElse]="seenIdol">
  <p *ngIf="user.age >= 18; else seenIdol">Bạn có thể xem danh sách IDOL TOP TOP</p>
</ng-template>

<ng-template #seenIdol>
  <p>
    Bạn chưa đủ tuổi để xem những video của các IDOL TOP TOP nhé! Đợi thêm vài năm nữa đi~
  </p>
</ng-template>

<div class="container">
  <h2>
    NgFor
  </h2>

  <div class="grid-container">
    <div *ngFor="let item of rooms; index as i; first as isFirst" class="grid-item">
      <div class="grid-item-content">
        <div class="thumbnail">
          <img src="{{ item.image }}" alt="{{ item.name }}">
          <ng-template [ngIf]="!hasLiked" [ngIfElse]="hasLike" >
            <div class="favorite" (click)="handleLike()">
              <i class="fa-regular fa-heart"></i>
            </div>
          </ng-template>
        </div>
        <div class="information">
          <div class="group">
            <div class="title">
              {{ item.name }}
            </div>
            <div class="location">
              <span class="location__icon"> <i class="fa-solid fa-location-dot"></i></span>
              <span class="sub__title location__title">{{ item.locationId.name }}, {{item.locationId.province}}</span>
            </div>
            <div class="price">
              <span class="price__icon"> <i class="fa-solid fa-dollar-sign"></i></span>
              <span class="price__title">{{ convertPrice(item.price || 0) }} / đêm</span>
            </div>
          </div>
          <div class="elevator">
            <div class="elevator__content">
              <div class="elevator__icon">
                <i class="fa-solid fa-star"></i>
              </div>
              <div class="elevator__title">
                {{ item.locationId.valueate }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #hasLike>
  <div class="favorited">
    <i class="fa-solid fa-heart"></i>
  </div>
</ng-template>