App Component 
<!-- <app-hello>
</app-hello>
<p>
  <app-hi></app-hi>
</p> -->
<p>Name: {{ name}}</p>
<p>Age : {{ user.age}}</p> 

<input [type]="inputType" [value]="user.age"/> // Documents Object Modal DOM

<button  type="button" (click)="handleClickMe($event)">Click Me</button>

<input type="text"  [ngModel] ="name" (ngModelChange)="name = $event"  />

<ng-template [ngIf]="user.age >= 18" [ngIfElse]="seenIdol">
  <p *ngIf="user.age >= 18; else seenIdol">Bạn có thể xem danh sách IDOL TOP TOP</p>
</ng-template>

<ng-template #seenIdol>
  <p >
    Bạn chưa đủ tuổi để xem những video của các IDOL TOP TOP nhé! Đợi thêm vài năm nữa đi~
  </p>
</ng-template>