App Component
<!-- <app-hello>
</app-hello>
<p>
  <app-hi></app-hi>
</p> -->
<p>Name: {{ name}}</p>
<p>Age : {{ user.age}}</p>

<input [type]="inputType" [value]="user.age" /> // Documents Object Modal DOM

<button type="button" (click)="handleClickMe($event)">Click Me</button>

<input type="text" [ngModel]="name" (ngModelChange)="name = $event" />

<ng-template [ngIf]="user.age >= 18" [ngIfElse]="seenIdol">
  <p *ngIf="user.age >= 18; else seenIdol">Bạn có thể xem danh sách IDOL TOP TOP</p>
</ng-template>

<ng-template #seenIdol>
  <p>
    Bạn chưa đủ tuổi để xem những video của các IDOL TOP TOP nhé! Đợi thêm vài năm nữa đi~
  </p>
</ng-template>

<div class="container">
  <h2>
    NgFor
  </h2>

  <div class="grid-container">
    <div *ngFor="let item of rooms; index as i; first as isFirst" class="grid-item">
        <app-room-item [item]="item" (onLike)="receiveOnLikeFromChild($event)"></app-room-item>
    </div>
  </div>
  <app-process-bar [progress]="2" [progressColor]="'#9e9e9e'" [progressBackgroundColor]="'red'" ></app-process-bar>
</div>

<ng-template #hasLike>
  <div class="favorited">
    <i class="fa-solid fa-heart"></i>
  </div>
</ng-template>