/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Exo', sans-serif;
  font-family: 'Fredoka', sans-serif;
  font-family: 'IBM Plex Mono', monospace;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.sub__title {
  font-size: 0.875rem;
  color: #999;
}